* {
    background-color: #2C3333;
}
/* 
.mainDiv {
    width: 70%;
    margin-left: 15%;
    height: auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


#Button {
    text-decoration: none;
    color: white;
    background: none;
}

@media screen and (max-width: 1024px) {
    .mainDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mainDiv h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .mainDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mainDiv h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 425px) {
    .mainDiv {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .mainDiv h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .mainDiv {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .mainDiv h2 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    .mainDiv {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .mainDiv h2 {
        font-size: 0.8rem;
    }
}