#headerLeft {
    width: 50%;
    float: left;
}

#headerRight {
    width: 50%;
    float: right;
}

#headerRight input {
    width: 40%;
}

@media screen and (max-width: 425px) {
    #Header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}